<!DOCTYPE html>
<html>
<head>
	

	<title>Sahabhagita</title>
	<link rel="shortcut icon" href="/static/images/favicon.png" />
	
	
	<link rel="stylesheet" href="/static/css/basic/bootstrap.css"/>
	<link rel="stylesheet" href="/static/css/basic/bootstrap.min.css"/>
	<link rel="stylesheet" href="/static/css/basic/font-awesome.min.css"/>
	<link rel="stylesheet" href="/static/css/basic/font-awesome.css"/>
	<script type="text/javascript" src="/static/css/basic/jquery-3.0.0.min.js"></script>
	<script src="/static/css/basic/sweetalert.min.js"></script> 
	<link rel="stylesheet" type="text/css" href="/static/css/basic/sweetalert.css">
	<script src="/static/css/basic/stickyfill.js"></script> 
	


	<link rel="stylesheet" type="text/css" href="/static/css/general.css">



	<script type="text/javascript" src="/static/css/basic/fancybox/jquery.fancybox.js?v=2.1.5"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/basic/fancybox/jquery.fancybox.css?v=2.1.5" media="screen" />
	

	

	





	<!-- Bootstrap files start from here -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!-- Bootstrap files ends here -->

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script src="/static/css/basic/stickyfill.js"></script> 

	
	<script>
		$(function(){
  			$('#sidebar').Stickyfill();
		});

		function myFunction() {
    		sweetAlert("Here's a message!","If you are alumni than please sign in for enter in the website");
		}

	</script>



</head>
<body>
	



	<nav class="navbar" style="padding-top : 10px; background : rgba(245,245,255,0.9); padding-bottom : 10px; margin-bottom: 0px; box-shadow: inset 0 0 10px #000000;">
		<div class="container-fluid">
		    <div class="navbar-header">
		    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        	<span class="icon-bar"></span>
		        	<span class="icon-bar"></span>
		        	<span class="icon-bar"></span>
		      	</button>
		      	<a href=""><img class="img-responsive logo" src="/static/images/logo1.png" width="400px" alt = "logo" style="margin-top : 5px; margin-left : 50px;" /></a>
		    </div>

		    <div class="collapse navbar-collapse" id="myNavbar" style="float: right; ">   
		        <nav class="nav navbar-nav">
		        	<li><a href="../home" class="log"><p class="signin" style="border-radius: 5px 5px;">Welcome</p></a></li>
		        	<li><a href="../gallery" class="log"><p class="signin" style="border-radius: 5px 5px;">Gallery</p></a></li>
		        	<li><a href="../members" class="log"><p class="signin" style="border-radius: 5px 5px; ">Members</p></a></li>
		        	<li><a href="../feedback" class="log"><p class="signin" style="border-radius: 5px 5px; background: rgb(128,128,255);">Discussion</p></a></li>
					<li><a href="../logout" class="log"><p class="signup">Logout</p></a></li>
					<li><a href="" class="log"><p class="signin">{{username}}</p></a></li>
				</nav>
		    </div>
	    </div>
	  </div>
	</nav>
	

	<div class="cont">
		<div class="row">
			<div class="container-fluid">
				
				<div class="sidebar" id="sidebar" style="background : rgba(0,0,125,0.8); width: 25%; float: left;">
					
					<div class="topic" style="padding-top : 30px; height : 100vh;">
						<p class="tag" style="margin-top : 30px; text-align : right;"><a class="welcome">ALUMNI CORNER</a></p><hr class="mainline">
						<p class="tag" style="cursor : pointer; "><a href="../feedback/" id="event1" class="main"><i class="fa fa-newspaper-o" aria-hidden="true" style="margin-right: 10px; "></i>PARTICIPATE</a></p>
						<p class="tag" style="cursor : pointer;"><a href="../comment/" id="event2" class="main" style=" color: white;"><i class="fa fa-comment" aria-hidden="true" style="margin-right: 10px; "></i>COMMENTS</a></p>
						<p class="tag" style="cursor : pointer;"><a href="../contact/" id="event3" class="main"><i class="fa fa-phone" aria-hidden="true" style="margin-right: 10px;"></i>CONTACT US</a></p>
						
						


						<div class="topic" style="padding-top : 10px;">
							<p class="tag" style="margin-top : 30px; text-align : right;"><a href="#" class="welcome">CONTACT US</a></p><hr class="mainline">
							<p class="tag1" style="text-align : left; margin-bottom: 0px; "><i class="fa fa-envelope" aria-hidden="true" style="margin-right: 10px; "></i>sahabhagita16@gmail.com</p>
							
							<div class="col-md-8 col-md-offset-2" style="margin-bottom: 50px; float: center; ">
								<a href="https://www.facebook.com/Sahabhagita/?__mref=message_bubble" target="_blank"><i class="fa fa-facebook-square icon"></i></a>
								<a href=">https://twitter.com/SahabhagitaOrg" target="_blank"><i class="fa fa-twitter-square icon"></i></a>
								<a href="" target="_blank"><i class="fa fa-youtube-square icon"></i></a>
							</div>

							<p class="tag" style="text-align: center; color: white; ">2016 &#169; Sahabhagita</p>
							<p class="tag" style="text-align: center; color: white; ">Created by <a href="https://itsshivam.github.io/" target="_blank" style="color : rgb(200,200,255);">Shivam Pal</a></p>
						</div>
					</div>
				</div>







				<div class="mainbar">

				<div class="col-md-12 event3" id="contact">
					<div class="topic" style="padding-top : 100px; min-height : 100vh;">
						<div class="vision col-md-10 motive" style="margin-bottom : 50px; padding-bottom: 0px; ">
							<div class="col-md-10 col-md-offset-1">
								<h6 class="heavi"><img class="img-responsive" src="/static/images/arrow1.png" width="100x" alt = "bullet" style="float: left; margin-right: 10px; " />Express Your Views<img class="img-responsive" src="/static/images/arrow.png" width="100x" alt = "bullet" style="float: right; margin-right: 10px; " /></h6><hr class="style2">
							</div>



							<div class="col-md-10 col-md-offset-1" style="margin-top : 20px;">
							
								
								<form action="../Comment/" method="post" name="myform" onsubmit="return(validate())">{% csrf_token %}

									<input type="hidden" class="form-control" name="username" id="usename" value="{{username}}" readonly >
						
									<div class="col-md-12">
										<div class="col-md-3 form"><label for="message"><i class="fa fa-envelope" aria-hidden="true" style="margin-right: 10px; "></i>Comment&#42</label></div>
										<div class="col-md-8 col-md-offset-1"><textarea rows="4" class="form-control" name="comment" id="id_comment" style="color : rgb(50,50,255); border-radius: 5px 5px; border : 1px solid rgb(128,128,255);"></textarea></div>
									</div>
									<div class="col-md-12" style="margin-top : 10px; margin-bottom : 0px;">
										<div class="col-md-3 col-md-offset-4"><input type="submit" name="submit" value="SUBMIT" /></div>
									</div>
								</form>
								
							</div>


							<div class="col-md-10 col-md-offset-1" style="margin-top : 15px;  margin-bottom : 20px;">
								{% for obj in comment_list %}
								<div style="margin-top: 20px; ">
									<div class="col-md-12">
										<p class="mem" style="color: rgb(60,60,255); font-size: 20px; margin-right: 5px; "><img class="img-responsive" src="/static/images/user1.png" width="25x" alt = "bullet" style="float: left; margin-right: 10px; " />{{obj.username}}</p>
										<p class="mem" style="color: rgb(100,100,255); font-size: 13px;">{{obj.timestamp}}</p>
									</div>
									<div class="col-md-10 col-md-offset-1">
										<p class="vision" style="font-size: 16px; ">{{ obj.comment | linebreaks }}</p>
									</div>
								</div>
								
								{% endfor %}
							</div>


							
							
						</div>
					</div>
				</div>

				<div class="col-md-12 foot" id="footer" style="background-color: rgba(0,0,125,0.8)">
					<div class="col-md-10 col-md-offset-1" style="float: center;">
						<p class="intro" style="text-align:  center; color: white">
							<i class="fa fa-envelope" aria-hidden="true" style="margin-right: 10px; "></i>sahabhagita@gmail.com,
							<a href="https://www.facebook.com/Sahabhagita/?__mref=message_bubble" target="_blank"><i class="fa fa-facebook-square icon"></i></a>
							<a href=">https://twitter.com/SahabhagitaOrg" target="_blank"><i class="fa fa-twitter-square icon"></i></a>
							<a href="" target="_blank"><i class="fa fa-youtube-square icon"></i></a>
						</p>
						<p class="intro" style="text-align: center; color: white;">2016 &#169; Sahabhagita</p>
						<p class="intro" style="text-align: center; color: white;">Created by <a href="https://itsshivam.github.io/" target="_blank" style="color : rgb(200,200,255);">Shivam Pal</a></p>
					</div>
						</div>
				</div>




				</div>
			</div>
		</div>
	</div>




</body>
</html>