<!DOCTYPE html>
<html>
<head>
	

	<title>Sahabhagita</title>
	<link rel="shortcut icon" href="/static/images/favicon.png" />
	
	
	<link rel="stylesheet" href="/static/css/basic/bootstrap.css"/>
	<link rel="stylesheet" href="/static/css/basic/bootstrap.min.css"/>
	<link rel="stylesheet" href="/static/css/basic/font-awesome.min.css"/>
	<link rel="stylesheet" href="/static/css/basic/font-awesome.css"/>
	<script type="text/javascript" src="/static/css/basic/jquery-3.0.0.min.js"></script>
	<script src="/static/css/basic/sweetalert.min.js"></script> 
	<link rel="stylesheet" type="text/css" href="/static/css/basic/sweetalert.css">
	<script src="/static/css/basic/stickyfill.js"></script> 
	


	<link rel="stylesheet" type="text/css" href="/static/css/general.css">
	


	<!-- Bootstrap files start from here -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!-- Bootstrap files ends here -->

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script src="/static/css/basic/stickyfill.js"></script> 

	
	<script>
		$(function(){
  			$('#sidebar').Stickyfill();
		});

		function myFunction() {
    		sweetAlert("Here's a message!","If you are alumni than please sign in for enter in the website");
		}

		
		$(document).ready(function(){
			$("div.upcoming").fadeTo(0,1);
			$("h6.upcoming").fadeTo(0,1);
		});
	</script>



</head>
<body>
	



	<nav class="navbar" style="padding-top : 10px; background : rgba(245,245,255,0.9); padding-bottom : 10px; margin-bottom: 0px; box-shadow: inset 0 0 10px #000000;">
		<div class="container-fluid">
		    <div class="navbar-header">
		    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        	<span class="icon-bar"></span>
		        	<span class="icon-bar"></span>
		        	<span class="icon-bar"></span>
		      	</button>
		      	<a href="../"><img class="img-responsive logo" src="/static/images/logo1.png" width="400px" alt = "logo" style="margin-top : 5px; margin-left : 50px;" /></a>
		    </div>

		    <div class="collapse navbar-collapse" id="myNavbar" style="float: right; ">   
		        <nav class="nav navbar-nav">
					<li><a href="" class="log"><p class="signin">Log In</p></a></li>
					<li><a href="" class="log"><p class="signup">Sign Up</p></a></li>
				</nav>
		    </div>
	    </div>
	  </div>
	</nav>
	

	<div class="cont">
		<div class="row">
			<div class="container-fluid">
				
				<div class="sidebar" id="sidebar" style="background : rgba(0,0,125,0.8); width: 25%; float: left;">
				
					<div class="topic" style="padding-top : 30px; height : 100vh;">
						<p class="tag" style="margin-top : 30px; text-align : right;"><a class="welcome">WELCOME</a></p><hr class="mainline">
						<p class="tag"><a href="" class="main"><i class="fa fa-home" aria-hidden="true" style="margin-right: 10px; "></i>HOME</a></p>
						<p class="tag"><a href="" class="main"><i class="fa fa-bullseye" aria-hidden="true" style="margin-right: 10px; "></i>OUR MOTIVE</a></p>
						<p class="tag"><a href="" class="main"><i class="fa fa-calendar" aria-hidden="true" style="margin-right: 10px; "></i>EVENTS</a></p>
						<p class="tag"><a href="" class="main"><i class="fa fa-newspaper-o" aria-hidden="true" style="margin-right: 10px; "></i>ABOUT US</a></p>
						<p class="tag"><a href="" class="main"><i class="fa fa-users" aria-hidden="true" style="margin-right: 10px; "></i>OUR TEAM</a></p>
						
						


						<div class="topic" style="padding-top : 10px;">
							<p class="tag" style="margin-top : 30px; text-align : right;"><a href="#" class="welcome">CONTACT US</a></p><hr class="mainline">
							<p class="tag1" style="text-align : left; margin-bottom: 0px; "><i class="fa fa-envelope" aria-hidden="true" style="margin-right: 10px; "></i>sahabhagita16@gmail.com</p>
							
							<div class="col-md-8 col-md-offset-2" style="margin-bottom: 50px; float: center; ">
								<a href="https://www.facebook.com/Sahabhagita/?__mref=message_bubble" target="_blank"><i class="fa fa-facebook-square icon"></i></a>
								<a href=">https://twitter.com/SahabhagitaOrg" target="_blank"><i class="fa fa-twitter-square icon"></i></a>
								<a href="" target="_blank"><i class="fa fa-youtube-square icon"></i></a>
							</div>

							<p class="tag" style="text-align: center; color: white; ">2016 &#169; Sahabhagita</p>
							<p class="tag" style="text-align: center; color: white; ">Created by <a href="https://itsshivam.github.io/" target="_blank" style="color : rgb(200,200,255);">Shivam Pal</a></p>


						</div>


					</div>
				</div>

				<div class="mainbar">
				<div class="col-md-12" style="margin-bottom: 0px;">
					<div class="topic" style="padding-top : 100px; min-height : 100vh;">
						<div class="vision col-md-10 col-md-offset-1 motive">
							<div class="col-md-10 col-md-offset-1">
								<h6 class="heavi"><img class="img-responsive" src="/static/images/arrow1.png" width="100x" alt = "bullet" style="float: left; margin-right: 10px; " />Please fill your details<img class="img-responsive" src="/static/images/arrow.png" width="100x" alt = "bullet" style="float: right; margin-right: 10px; " /></h6><hr class="style2">
							</div>


							<div class="col-md-12" style="margin-top : -10px; text-align : center;">
								<div class="col-md-8 col-md-offset-2">
									<h3 style="color : rgb(128,128,255);" class="head">--: Personal Details :--</h3>
								</div>
							</div>
							
							<div class="col-md-10 col-md-offset-1" style="margin-top : 20px;">

							<form action="../Details/" method="post" name="myform" onsubmit="return(validate())">{% csrf_token %}
								
			
								<p><div class="col-md-12">
									<div class="col-md-3 form"><label for="username"><i class="fa fa-user" aria-hidden="true" style="margin-right: 10px; "></i>Username</label></div>
									<div class="col-md-5 col-md-offset-2"><input type="text" class="form-control" name="username" value="{{username}}" readonly style="color : rgb(50,50,255); border-radius: 60px 5px; border : 1px solid rgb(128,128,255);" ></div>
								</div></p>




								<p><div class="col-md-12">
									<div class="col-md-3 form"><label for="id_firstname"><i class="fa fa-smile-o" aria-hidden="true" style="margin-right: 10px; "></i>First Name&#42</label></div>
									<div class="col-md-5 col-md-offset-2"><input type="text" class="form-control" name="firstname" id="id_firstname" placeholder=""  style="color : rgb(50,50,255); border-radius: 60px 5px; border : 1px solid rgb(128,128,255);"></div>
								</div></p>
			

					
								<div class="col-md-12">
									<div class="col-md-3 form"><label for="id_lastname"><i class="fa fa-smile-o" aria-hidden="true" style="margin-right: 10px; "></i>Last Name&#42</label></div>
									<div class="col-md-5 col-md-offset-2"><input type="text" class="form-control" name="lastname" id="id_lastname" placeholder="" style="color : rgb(50,50,255); border-radius: 60px 5px; border : 1px solid rgb(128,128,255);"></div>
								</div>



								<div class="col-md-12">
									<div class="col-md-3 form"><label for="id_dob"><i class="fa fa-birthday-cake" aria-hidden="true" style="margin-right: 10px; "></i>Birth Date&#42</label></div>
									<div class="col-md-5 col-md-offset-2"><input type="date" class="form-control" name="dob" id="id_dob" placeholder="" style="color : rgb(50,50,255); border-radius: 60px 5px; border : 1px solid rgb(128,128,255);"></div>
								</div>


								<div class="col-md-12">
									<div class="col-md-3 form" ><label for="id_gender"><i class="fa fa-user" aria-hidden="true" style="margin-right: 10px; "></i>Gender&#42</label></div>
									<div class="col-md-5 col-md-offset-2"><input type="text" class="form-control" name="gender" id="id_gender" placeholder="" style="color : rgb(50,50,255); border-radius: 60px 5px; border : 1px solid rgb(128,128,255);"></div>
								</div>


								

								<div class="col-md-12">
									<div class="col-md-3 form"><label for="id_contact"><i class="fa fa-phone" aria-hidden="true" style="margin-right: 10px; "></i>Contact No&#42</label></div>
									<div class="col-md-5 col-md-offset-2"><input type="text" class="form-control" name="contact" id="id_contact" placeholder="" style="color : rgb(50,50,255); border-radius: 60px 5px; border : 1px solid rgb(128,128,255);"></div>
								</div>

								<div class="col-md-12">
									<div class="col-md-3 form"><label for="id_address"><i class="fa fa-home" aria-hidden="true" style="margin-right: 10px; "></i>Address&#42</label></div>
									<div class="col-md-5 col-md-offset-2"><input type="text" class="form-control" name="address" id="id_address" placeholder="" style="color : rgb(50,50,255); border-radius: 60px 5px; border : 1px solid rgb(128,128,255);"></div>
								</div>

								<div class="col-md-12">
									<div class="col-md-3 form"><label for="id_occupation"><i class="fa fa-briefcase" aria-hidden="true" style="margin-right: 10px; "></i>Profession&#42</label></div>
									<div class="col-md-5 col-md-offset-2"><input type="text" class="form-control" name="occupation" id="id_occupation" placeholder="" style="color : rgb(50,50,255); border-radius: 60px 5px; border : 1px solid rgb(128,128,255);"></div>
								</div>





								<div class="col-md-12" style="margin-top : 0px; text-align : center; margin-bottom: 30px; ">
								<div class="col-md-8 col-md-offset-2">
									<h3 style="color : rgb(128,128,255);" class="head">--: Schooling Details :--</h3>
								</div>
								</div>





								<div class="col-md-12">
									<div class="col-md-6 form"><label for="id_highschool"><i class="fa fa-graduation-cap" aria-hidden="true" style="margin-right: 10px; "></i>Year of Passing 10th Class&#42</label></div>
									<div class="col-md-4"><input type="text" class="form-control" name="highschool" id="id_highschool" placeholder="" style="color : rgb(50,50,255); border-radius: 60px 5px; border : 1px solid rgb(128,128,255);"></div>
								</div>

								<div class="col-md-12">
									<div class="col-md-6 form"><label for="id_intermediate"><i class="fa fa-graduation-cap" aria-hidden="true" style="margin-right: 10px; "></i>Year of Passing 12th Class&#42</label></div>
									<div class="col-md-4"><input type="text" class="form-control" name="intermediate" id="id_intermediate"  placeholder="" style="color : rgb(50,50,255); border-radius: 60px 5px; border : 1px solid rgb(128,128,255);"></div>
								</div>

								<div class="col-md-12">
									<div class="col-md-6 form"><label for="id_schoolname"><i class="fa fa-graduation-cap" aria-hidden="true" style="margin-right: 10px; "></i>Vidyamandir School Name&#42</label></div>
									<div class="col-md-4"><input type="text" class="form-control" name="schoolname" id="id_schoolname" placeholder="" style="color : rgb(50,50,255); border-radius: 60px 5px; border : 1px solid rgb(128,128,255);"></div>
								</div>

								<div class="col-md-12">
									<div class="col-md-6 form"><label for="id_schoolplace"><i class="fa fa-graduation-cap" aria-hidden="true" style="margin-right: 10px; "></i>Vidyamandir School Place&#42</label></div>
									<div class="col-md-4"><input type="text" class="form-control" name="schoolplace" id="id_schoolplace" placeholder="" style="color : rgb(50,50,255); border-radius: 60px 5px; border : 1px solid rgb(128,128,255);"></div>
								</div>

								



								<div class="col-md-12" style="margin-top : 30px; margin-bottom: 30px; ">
									<div class="col-md-3 col-md-offset-4"><input type="submit" name="submit" value="SUBMIT" /></div>
								</div>

							</form>

							<script>

								function validate()
								{
									
									

									if((document.myform.firstname.value==""))
									{
										sweetAlert("Ooops ERROR!!!","Fill your first name","error");
										myform.firstname.focus();
										return(false);
									}

									if((document.myform.lastname.value==""))
									{
										sweetAlert("Ooops ERROR!!!","Fill your last name","error");
										myform.lastname.focus();
										return(false);
									}
									
									
									if(document.myform.dob.value=="")
									{
										sweetAlert("Ooops ERROR!!!","Correctly fill your date of birth","error");
										myform.dob.focus();
										return(false);
									}

									if((document.myform.gender.value==""))
									{
										sweetAlert("Ooops ERROR!!!","Fill your gender","error");
										myform.gender.focus();
										return(false);
									}

									if((document.myform.contact.value==""))
									{
										sweetAlert("Ooops ERROR!!!","Fill your contact number","error");
										myform.contact.focus();
										return(false);
									}

									if(document.myform.address.value=="")
									{
										sweetAlert("Ooops ERROR!!!","Fill your residential address","error");
										myform.address.focus();
										return(false);
									}

									if((document.myform.occupation.value==""))
									{
										sweetAlert("Ooops ERROR!!!","Fill your occupation","error");
										myform.occupation.focus();
										return(false);
									}

									if((document.myform.highschool.value<1950)||(document.myform.highschool.value>2016))
									{
										sweetAlert("Ooops ERROR!!!","Fill your 10th class Passing year","error");
										myform.high.focus();
										return(false);
									}

									if((document.myform.intermediate.value<1950)||(document.myform.intermediate.value>2016))
									{
										sweetAlert("Ooops ERROR!!!","Fill your 12th class Passing year","error");
										myform.inter.focus();
										return(false);
									}

									if((document.myform.schoolname.value==""))
									{
										sweetAlert("Ooops ERROR!!!","Fill your school name","error");
										myform.schoolname.focus();
										return(false);
									}

									if((document.myform.schoolplace.value==""))
									{
										sweetAlert("Ooops ERROR!!!","Fill your school place","error");
										myform.schoolplace.focus();
										return(false);
									}

									
								}
							</script>

						</div>
						</div>
					</div>

					<div class="col-md-12 foot" id="footer" style="background-color: rgba(0,0,125,0.8); margin-top: 30px;">
						<div class="col-md-10 col-md-offset-1" style="float: center;">
							<p class="intro" style="text-align:  center; color: white">
								<i class="fa fa-envelope" aria-hidden="true" style="margin-right: 10px; "></i>sahabhagita@gmail.com,
								<a href="https://www.facebook.com/Sahabhagita/?__mref=message_bubble" target="_blank"><i class="fa fa-facebook-square icon"></i></a>
								<a href=">https://twitter.com/SahabhagitaOrg" target="_blank"><i class="fa fa-twitter-square icon"></i></a>
								<a href="" target="_blank"><i class="fa fa-youtube-square icon"></i></a>
							</p>
							<p class="intro" style="text-align: center; color: white;">2016 &#169; Sahabhagita</p>
							<p class="intro" style="text-align: center; color: white;">Created by <a href="https://itsshivam.github.io/" target="_blank" style="color : rgb(200,200,255);">Shivam Pal</a></p>
						</div>
					</div>


				</div>
				</div>
		</div>
	</div>




</body>
</html>